@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vinde</h1>
    <p>Acessse meu perfil no <a href="https://github.com/LGretti">Github</a>.</p>
</div>
